.default-404{
    .default-404__icon{
        img{
            width:70%;
            max-width: 340px;
        }
    }
    .default-404__text{
        width: 80%;
        margin: 0 auto;
        .text__title{
            font-size: 40px;
        }
        .text__subtitle{
            font-size: 20px;
        }
    }
}